<div class="wrapper">
<div class="new">
<h2 class="hero_title">Новая страна:</h2>
  
<div class="form">
<%= form_with model: @country  do |form|%>

 <div class="form__grid-item">
  <p class="form__labe"><%=form.label :name, 'Название страны:'%></p>
  <p class="form__input"><%=form.text_field :name, required: true%></p>
 </div>
 <div class="form__grid-item">
  <p class="form__labe"><%=form.label :country_code, 'Код страны:'%></p>
  <p class="form__input"><%=form.text_field :country_code, required: true%></p>
 </div>
 <div class="form__grid-item">
  <p class="form__labe"><%=form.label :language, 'Язык:'%></p>
  <p class="form__input"><%=form.text_field :language, required: false %></p>
 </div>
 <div class="form__grid-item">
  <p class="form__labe"><%=form.label :currency, 'Валюта:'%></p>
  <p class="form__input"><%=form.text_field :currency, required: true%></p>
 </div>
 <div class="form__grid-item">
  <p class="form__labe"><%=form.label :timezone, 'Часовой пояс:'%></p>
  <p class="form__input"><%=form.text_field :timezone, required: false%></p>
 </div>
 <div class="form__grid-item">
  <p class="form__labe"><%=form.label :capital, 'Столица:'%></p>
  <p class="form__input"><%=form.telephone_field :capital, required: false%></p>
 </div>
 
 <div class= "new_flex">
  <button class="new_button button click ">
    <%= form.submit 'Добавить страну' %>
  </button>
  <p class="new_button button click"><%=link_to "Все страны",countries_path %></p>
  </div>
<%end%>
</div>
</div>
</div>
