<div class="wrapper">
<div class="show">
<h1 class="hero_title">Страна: <%=@country.name%></h1>
<div class="show_content">
 <div class="client-labels">
        <p class="show_label">ID страны:</p>
        <p class="show_label">Название страны:</p>
        <p class="show_label">Код страны:</p>
        <p class="show_label">Язык:</p>
        <p class="show_label">Валюта:</p>
        <p class="show_label">Часовой пояс:</p>
         <p class="show_label">Столица:</p>
 </div>
    <div class="client-details">
        <p class="show_input"><%=@country.id.presence || '-'%></p>
        <p class="show_input"><%=@country.name.presence || '-'%></p>
        <p class="show_input"><%=@country.country_code.presence || '-'%></p>
        <p class="show_input"><%=@country.language.presence || '-'%></p>
         <p class="show_input"><%=@country.currency.presence || '-'%></p>
        <p class="show_input"><%=@country.timezone.presence || '-'%></p>
        <p class="show_input"><%=@country.capital.presence || '-'%></p>
    </div>
</div>
<div class="show_button" >
 <p class="new_button button click "><%=link_to "Все страны",countries_path %></p>
<p class=" new_button button click"><%=link_to "Изменить данные о стране ", edit_country_path(@country)%></p>
<div class="new_button show_button button click"><%= button_to 'Удалить страну', country_path(@country), method: :delete %></div>
</div>

<div class="all_order">
                    <h3>Все заказы:</h3>
                        <% if @orders.present? %>
                            <% @orders.each do |order| %>
                                    <p class="click">
                                    <%= link_to "Номер заказа: #{order.number_order} ", histore_order_path(order) %>
                                    </p>
                            <% end %>
                        <% else %>
                            <p>Нет заказов для отображения.</p>
                       <% end %>
                </div>

</div>
</div>
</div>
