<div class="edit">
<h2 class="hero_title">Редактирование данных о заказе: </h2>
<div class="form">
<%= form_with model: @order  do |form|%>
<div class="form__grid-item">
 <p class="form__labe"><%=form.label :number_order, 'Номер заказа:'%></p>
 <p class="form__input"><%=form.number_field :number_order, required: true%></p>
 </div>
 <div class="form__grid-item">
 <p class="form__labe"><%=form.label :name, 'Название тура:'%></p>
 <p class="form__input"><%=form.text_field :name, required: true%></p>
 </div>
 <div class="form__grid-item">
 <p class="form__labe"><%=form.label :start_date, 'Начало тура:'%></p>
 <p class="form__input"><%=form.text_field :start_date, required: true %></p>
 </div>
 <div class="form__grid-item">
 <p class="form__labe"><%=form.label :end_date, 'Конец тура:'%></p>
 <p class="form__input"><%=form.text_field :end_date, required: true%></p>
 </div>
 <div class="form__grid-item">
 <p class="form__labe"><%=form.label  :price, 'Цена тура:'%></p>
 <p class="form__input"><%=form.text_field :price, required: false%></p>
 </div>
   <div class="form__grid-item">
      <p class="form__label"><%= form.label :id_client, 'Клиент:' %></p>
        <p class="form__input">
          <%= form.collection_select :id_client, ClientList.all, :id_client, :fullname, prompt: 'Выберите клиента', required: true %>
        </p>
      </div>
      <div class="form__grid-item">
  <p class="form__label"><%= form.label :country_id, 'Страны:', class: 'text-black' %></p>
  <p class="form__input">
    <div class="form-check-list">
      <%= form.collection_check_boxes :country_id, Country.all, :id, :name do |b| %>
        <div class="form-check">
          <%= b.check_box(class: 'form-check-input') %>
          <%= b.label(class: 'form-check-label text-black') %>
        </div>
      <% end %>
    </div>
  </p>
</div>
 <div class="edit_button">
    <button class=" button ">
      <%= form.submit 'Изменить заказ' %>
    </button>
      <p class=" button "><%=link_to "Все заказы", histore_orders_path%></p>
  </div>
<%end%>
</div>
</div>